@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <input type="text" class="input-box" placeholder="">
    <div class="button-container">
        <button class="btn btn-green">Agregar Nodo Al final</button>
        <button class="btn btn-blue">Agregar Nodo Al Inicio</button>
    </div>
    <div class="content-area"></div>
</div>
